<div class="song_index">
  <div class="song_element">
    <div id="song_cover_img">
      <%= image_tag("default_song", :size => "100x100") %>
    </div>
    <div>
      <%= link_to song do %>
          <%= @text ="<h4>#{song.title}</h4>".html_safe %>
      <% end %>
      <%= @text = "<h5><strong>Singer: </strong>#{song.singer.name}</h5>".html_safe %>
      <h5><strong>Category: </strong>...</h5>
      <div>
        <h5>
          <strong>Rate: </strong>
          <span>
						<%= render "shared/song_avg_rate", rate_avg: song.rate_avg %>
					</span>
        </h5>
      </div>
      <div class = "like-song">
        <span class="fa fa-thumbs-o-up"> Like</span>
      </div>
    </div>
  </div>
</div>