<div class="song_detail">
	<div class="song_content">
		<div class="info-section">
			<div class="song_cover_img">
				<%= image_tag "default-song.jpg", size: "130x130" %>
			</div>
			<div class="song_info">
				<%= @text ="<h2>#{@song.title}</h2>".html_safe %>
				<%= @text = "<h4>Singer: #{@song.singer.name}</h4>".html_safe %>
				<h4>Category: ...</h4>
				<div>
					<h4>Rating : 
						<% case @song.rate_avg.to_i %>
						<% when 1 %>
							<%= 'Poor'%>
						<% when 2 %>
							<%= 'Fair'%>
						<% when 3 %>
							<%= 'Good'%>
						<% when 4 %>
							<%= 'Excellent'%>
						<% when 5 %>
							<%= 'Perfect'%>
						<% end %>
						<span>
							<%= render "shared/song_avg_rate", rate_avg: @song.rate_avg %>
						</span>
					</h4>
				</div>
			</div>
		</div>
		<% if user_signed_in? %>
			<div class="review-section">
				<%= link_to "Review this song", new_song_review_path(@song.id),
					class: "btn" %>
			</div>
		<% end %>
	</div>
</div>
<div class="review_content">
	<div class="title">Reviews from user</div>
	<% if @reviews.any? %>
		<div id="reviews" class="transitions-enabled">
			<%= render @reviews %>
		</div>
	<% end %> 
</div>
	
