<div class="review_detail">
        <div class="review_author">
                <div id="review_author">
                <%= image_tag("default-ava/ava-default-male.jpg", class: 'img_author', :size => "50x50")%>
                <div class="author_details">
                	<strong><h4>
                		<%= link_to review.user do %>
                                        <%= review.user.name %>
                                 <% end %>
                	</h4></strong>
                	<h5>
                		<%= review.created_at %>
                	</h5>
                </div>
        	</div>
        </div>
	<div class="review_articles">
		<strong><p id = "review_title">
			<%= review.title %>
		</p></strong>
		<p><%= review.content %></p>
	</div>
        <div class="action_box">
                <div>
                        <span><%= image_tag("icon/like", :size => "15x15")%> Like </span>
                </div>
                <div>
                        <span><%= image_tag("icon/chat", :size => "15x15")%> Comment </span>
                </div>
        </div>
</div>